@import 'colors';
@import 'mediaQueries';

%align-center {
    display: flex;
    align-items: center;
}

.navbar {
    font: {
        family: sans-serif, Helvetica, Arial;
        size: 16px;        
    }
    background-color: $primaryLight;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;

    .navbarLogo {        
        height: 100%;
        padding: 5px 0px;
        margin-left: 40px;
    }

    .navbarBarsIcon {
        display: none;
        @include tablet {
            color: $secondary;            
            display: flex;
            align-items: center;
            font-size: 2rem;
            margin-right: 32px;
        }
    }

    .navbarMenu { // ul
        @extend %align-center;
        list-style: none;
        margin-right: 32px;

        @include tablet {
            display: none;
        }
        
        .navbarLinks { // li
            color: $light;
            @extend %align-center;
            justify-content: center;
            text-decoration: none;            
            width: 80px;
            font-weight: 700;

            &:hover {
                color: $secondary;
            }
        }

        .btn {
            margin-left: 20px;
            background-color: $secondary;
            a {
                color: $dark;                
            }           
        }
    }
}